body {
    background-color: #dddddd;
    font-family: system-ui, Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
  h1 {
    color: darkblue;
    margin: 10px;
  }
  
  h4 {
    margin: 5px 0;
  }
  
  p {
    margin: 5px 0 0 0;
  }
  
  #divTask, #solutionField {
    height: 30vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  #solutionField {
    opacity: 50%;
  }
  
  #answbtn {
    margin: 5px auto;
    outline: none;
  }
  
  #contentbox {
    text-align: justify;
  }
  
  .boxBig {
    border-color: darkblue;
    padding: 20px;
    border-width: 3px;
    border-style: solid;
    background-color: lightblue;
    border-radius: 10px;
    margin: 5px;
  }
  
  
  #emValidationError {
    color: orangered;
    font-weight: bold;
    display: block
  }
  
  .pointer {
    cursor: pointer;
  }
  
  button {
    background-color: darkblue;
    color: white;
    height: 40px;
    line-height: 34px;
    margin-top: 10px;
    border-radius: 10px;
  }
  
  .out-of-focus {
    opacity: 20%;
    pointer-events: none;
  }
  
  #btnInstall,
  #btnNotifications,
  #btnSound {
    background-color: aliceblue;
    color: darkblue;
    border-color: aliceblue;
  }
  
  #pNotifications {
    color: darkblue;
  }
  
  #loginbox {
    display: none;
  }
  
  
  #divBottombar {
    height: fit-content;
    width: 50vw;
    position: fixed;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    visibility: hidden;
    font-weight: bold;
    border-style: solid;
    background-color: lightsalmon;
    border-radius: 15px 15px 0 0;
    padding: 0 10px;
  }
  
  #divBottombar.hidden {
    animation-duration: 1s;
    animation-name: slideout;
    bottom: -150px;
    visibility: hidden;
  }
  
  #divBottombar.visible {
    animation-duration: 1s;
    animation-name: slidein;
    bottom: 0;
    visibility: visible;
  }
  
  @keyframes slideout {
    from {
      bottom: 0;
      visibility: visible;
    }
  
    to {
      bottom: -150px;
      visibility: visible;
    }
  }
  
  @keyframes slidein {
    from {
      bottom: -150px;
    }
  
    to {
      bottom: 0;
    }
  }
  
  #iRating {
    height: 40px;
    width: 67%;
    transform: scaleX(1.5) scaleY(2);
  }
  
  .hidden {
    visibility: hidden;
  }
  
  /* Loading indicator */
  .loading {
    visibility: hidden;
  }
  
  .loading:after {
    content: " ";
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid blue;
    border-color: lightskyblue transparent lightskyblue transparent;
    border-style: dotted;
    animation: loading-indicator 1.2s linear infinite;
    visibility: visible;
  }
  
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  
  /* Changes for Mobile*/
  @media only screen and (max-width: 767px) {
  
    #divTask,
    #solutionField {
      font-size: large;
      line-height: 1.8em;
    }
  
    #answbtn {
      height: 50px;
      line-height: 45px;
      font-size: large;
    }
  }
  
  
  /* Changes for PC*/
  @media only screen and (min-width: 768px) {
    body {
      width: 60vw;
      margin: 20px auto;
    }
  
    .columnsOnDesktop {
      flex-direction: row
    }
  }