.flex-row {
    display: flex;
    flex-direction: row;
}

.vocab-column {
    text-align: center;
    width: 100px;
    flex-grow: 1;
    margin: 0 1%;
}

h4 {
    margin-bottom: 0.8em;
}

.card {
    margin-bottom: 1em;
}