#divLeft, #divRight {
    width: 37%;
    float: left;
    text-align: center;
}

ul {
    padding-left: 0;
    position: absolute;
    width: 37%;
    line-height: 2em;
    list-style: none;
}

li:hover {
    background-color: lightblue;
}

#ulSearchList > li:hover::after {
    content: 'remove ➡';
    right: 10px;
}

#ulKnownList > li:not(.noUnlearn):hover::before {
    content: '⬅ add';
    left: 10px;
}

#ulSearchList > li:hover::after, #ulKnownList > li:hover::before {
    font-size: 25px;
    color: darkturquoise;
    position: absolute;
}


/* Changes for PC*/
@media only screen and (min-width: 768px) {
    ul {
        width: 30%;
    }
}
